@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background: #3f464f;
  font-size: 12px;
  overflow: hidden;
}

@media only screen and (min-width: 1300px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1500px) {
  html,
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1800px) {
  html,
  body {
    font-size: 13px;
  }
}

@media only screen and (min-width: 2100px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 2400px) {
  html,
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 2700px) {
  html,
  body {
    font-size: 16px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.VIEWPORT {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SECTION-WRAPPER {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #cbd5e1;
  position: relative;
  width: 100%;
  height: 100%;
}

.section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.section-grid h1 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  color: #0c4a6e;
  font-size: 12rem;
  z-index: 1;
  margin-left: 10rem;
}

.section-grid .title {
  text-decoration: underline;
  display: inline;
}

.section-grid .subtitle {
  z-index: 1;
}

.section-grid .subtitle > h1,
.section-grid .subtitle > div > h1 {
  font-size: 6rem;
  color: #075985;
  line-height: 2rem;
}

.SECTION {
  width: 100%;
  height: 100%;
  position: absolute;
}

.PROJECTS .neurify .image {
  -o-object-fit: fill;
     object-fit: fill;
  height: 15vw;
  width: 15vw;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PROJECTS .more .stack {
  opacity: 1;
}

.PROJECTS .section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.PROJECTS .logo {
  -o-object-fit: contain;
     object-fit: contain;
}

.PROJECTS .content {
  height: calc(90% - 2rem);
  position: absolute;
  top: 0;
}

.PROJECTS .fix {
  height: calc(90% - 2rem);
  z-index: 10;
}

.PROJECTS .navigation {
  background: #07598594;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-column: span 3 / span 3;
  height: calc(10% + 2rem);
  border-radius: 5px;
  border-bottom: 2px solid #075985;
}

.PROJECTS .navigation h1 {
  font-size: 3rem;
  text-align: center;
  margin-left: 0;
  color: #dbeafe;
  display: inline;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.PROJECTS .stack {
  position: absolute;
  z-index: 10;
  border-radius: 0.4rem;
  padding: 1rem;
  opacity: 0;
  margin-left: 10rem;
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.PROJECTS .stack .more-projects-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
}

.PROJECTS .stack .more-projects-list > h1 {
  margin-left: 0rem;
  margin-right: 4rem;
  font-size: 3rem;
  line-height: 2rem;
  width: 30%;
}

.PROJECTS .stack .more-projects-list > h1::before {
  content: "• ";
}

.PROJECTS .stack .more-projects-list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.PROJECTS .stack .more-projects-list > div h1 {
  margin-left: 0rem;
  margin-right: 4rem;
  font-size: 3rem;
  line-height: 2rem;
}

.PROJECTS .stack > h1 {
  margin-left: 0rem;
  margin-right: 4rem;
  font-size: 3rem;
  line-height: 2rem;
}

.PROJECTS .stack > h1::before {
  content: "• ";
}

.PROJECTS .subtitle {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-column: span 3 / span 3;
}

.PROJECTS .subtitle h1 {
  line-height: 5rem;
}

.PROJECTS .title {
  grid-column: span 2 / span 2;
}

.PROJECTS .extra {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-column: span 3 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10rem;
}

.PROJECTS .extra .line {
  position: absolute;
  background: #581c87;
  height: 5px;
}

.PROJECTS .extra .view-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.PROJECTS .extra h1 {
  font-size: 6rem;
  text-align: center;
  color: transparent;
  line-height: 6rem;
  cursor: pointer;
  margin-left: 0;
}

.PROJECTS .extra > h1 {
  color: #075985;
}

.CONTACT .contact-section {
  margin-left: 10rem;
}

.CONTACT .contact-section .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

.CONTACT .contact-section .contact-item h1 {
  font-size: 4rem;
  margin: 0;
  color: #075985;
}

.CONTACT .contact-section .contact-item h1::before {
  content: "⠀";
}

.CONTACT .contact-section {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-column: span 3 / span 3;
}

.CONTACT .title {
  grid-column: span 2 / span 2;
}

.WELCOME .subtitle {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-column: span 3 / span 3;
}

.WELCOME .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10rem;
}

.WELCOME .top > h1 {
  margin-left: 0;
  z-index: 4;
}

.WELCOME .top > h1:last-child {
  z-index: 6;
}

.WELCOME .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10rem;
}

.WELCOME .bottom > h1 {
  margin-left: 0;
  z-index: 6;
}

.WELCOME .bottom > h1:last-child {
  z-index: 4;
}

.WELCOME .title {
  grid-column: span 3 / span 3;
}

.WELCOME .image {
  position: absolute;
  top: 30%;
  pointer-events: none;
  z-index: 5;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.RESUME .subtitle {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-column: span 3 / span 3;
}

.RESUME .title {
  grid-column: span 2 / span 2;
}
/*# sourceMappingURL=globals.css.map */