@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #3f464f;
  font-size: 11px;
  overflow: hidden;
}

@media only screen and (min-width: 1500px) {
  html,
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1800px) {
  html,
  body {
    font-size: 13px;
  }
}

@media only screen and (min-width: 2100px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 2400px) {
  html,
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 2700px) {
  html,
  body {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.VIEWPORT {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.SECTION-WRAPPER {
  flex-grow: 1;
  background: #cbd5e1;
  position: relative;
  width: 100%;
  height: 100%;
}

.section-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  align-items: center;

  width: 100%;
  height: 100%;
  perspective: 800px;

  h1 {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    color: #0c4a6e;
    font-size: 12rem;
    z-index: 1;
    margin-left: 10rem;
  }

  .title {
    text-decoration: underline;
    display: inline;
  }

  .subtitle {
    z-index: 1;

    & > h1 {
      font-size: 6rem;
      color: #075985;
      line-height: 2rem;
    }
  }
}

.SECTION {
  width: 100%;
  height: 100%;
  position: absolute;
}

.PROJECTS {
  .section-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .logo {
    object-fit: contain;
  }

  .content {
    height: calc(90% - 2rem);
  }

  .navigation {
    background: #07598594;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    grid-row-start: 3;
    grid-column: span 3 / span 3;

    height: 10%;

    border-radius: 5px;
    border-bottom: 2px solid #075985;

    h1 {
      font-size: 3rem;
      text-align: center;
      margin-left: 0;
      color: #dbeafe;
      display: inline;
      cursor: pointer;
    }
  }

  .stack {
    position: absolute;
    // grid-row-start: 1;
    // grid-column-start: 3;
    // border: 3px solid #591c87;
    z-index: 10;
    border-radius: 0.4rem;
    padding: 1rem;
    opacity: 0;
    margin-left: 10rem;
    // top: 100px;
    & > h1 {
      margin-left: 0rem;
      margin-right: 4rem;
      font-size: 3rem;
      line-height: 2rem;
      // color: white;

      &::before {
        content: "• ";
      }
    }
  }

  .subtitle {
    grid-row-start: 2;
    grid-column: span 3 / span 3;

    h1 {
      line-height: 5rem;
    }
  }

  .title {
    grid-column: span 2 / span 2;
  }

  .extra {
    grid-row-start: 3;
    grid-column: span 3 / span 3;
    display: flex;
    flex-direction: row;

    margin-left: 10rem;

    .line {
      position: absolute;
      background: #581c87;
      height: 5px;
    }

    .view-elements {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
    }

    h1 {
      font-size: 6rem;
      text-align: center;
      color: transparent;
      line-height: 6rem;
      cursor: pointer;
      margin-left: 0;
    }

    & > h1 {
      color: #075985;
    }
  }
}

.CONTACT {
  .contact-section {
    margin-left: 10rem;
    .contact-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

      h1 {
        font-size: 4rem;
        margin: 0;
        color: #075985;

        &::before {
          content: "⠀";
        }
      }
    }
  }

  .contact-section {
    grid-row-start: 2;
    grid-column: span 3 / span 3;
  }

  .title {
    grid-column: span 2 / span 2;
  }
}

.WELCOME {
  .subtitle {
    grid-row-start: 2;
    grid-column: span 3 / span 3;
  }

  .title {
    grid-column: span 3 / span 3;
  }

  .image {
    position: absolute;
  }
}

.RESUME {
  .subtitle {
    grid-row-start: 2;
    grid-column: span 3 / span 3;
  }

  .title {
    grid-column: span 2 / span 2;
  }
}
