.sidebar {
  width: min(25%, 450px);
  margin-right: 5px;
  height: 100vh;
  background: #cbd5e1;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: width 1s ease;

  position: relative;
}

.linkWrapper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  font-size: 2rem;
  text-align: right;
}

.link {
  cursor: pointer;
  user-select: none;

  transition: opacity 1s ease;
}

.toggle-button {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

/* @media only screen and (max-width: 1500px) {
  .sidebar {
    width: 80px;
  }

  .link {
    opacity: 0;
  }
}

*/
